@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
    background-color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }

  h1 {
    color: transparent;
    -webkit-text-stroke: 1px white; 
    text-stroke: 1px #333;
    background-clip: text; 
  }

  .title {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    position: fixed;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .tituloArte {
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    text-align: right;
    border: 0.5px solid white;
    padding: 20px;
  }

  footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
background-color: white;
color: #333;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

  table {
    border-collapse: collapse;
    border: 1px solid white;
  }

  td {
    padding: 10px;

  }

  img {
    width: 100%; 
    height: 100%;
  }

  p {
    margin: 20px 0;
  }
  .content {
    padding-top: 100px; 
    padding-left: 20px;
    padding-bottom: 100px;
  }

.aqui{
    color: red;
}

  /* Estilos para la tabla de texto */
/* Estilos para el contenedor de la tabla */
.table-container {
width: 50%;
height: 100%;
margin-top: 20px;
}

/* Estilos para la tabla de texto */
.text-table {
width: 100%;
}

.text-table td {
padding: 10px;
padding-left: 20px;
}

/* @media screen and (max-width: 480px) {
    .navbar {
        height: 100px;
      }
    .title {
        font-size: 80px;
        padding-top: 30px;
        margin-bottom: 80px;
      }

    img {
        width: auto;
        height: auto;
      }
    .table-container {
        width: 100%;
        }
  } */